@model AccountDetailsViewModel

@{
    ViewData["Title"] = "Characters";
}

<div class="row">
  <div class="col-md-12">
    <h1>Max Power Level</h1>
    <ul>
    @foreach (var character in Model.Characters)
    {
      <li><img src="@character.EmblemPath" width="48" height="48"> <a asp-action="Details" asp-controller="Character" asp-route-type="@((int)Model.Type)" asp-route-id="@Model.Id" asp-route-characterId="@character.Id">@character</a></li>
    }
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>Season Pass Info</h1>
    <ul>
      <li>End Date:
        <script>
          var strDate = new String('@Model.SeasonPassInfo.EndDate.ToString("MM/dd/yyyy hh:mm:ss tt") UTC');
          var localTime = new Date(strDate);
          if(localTime.toLocaleDateString !== undefined) {
            var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
            document.write(localTime.toLocaleDateString(undefined, options));
          }
          else {
            document.write(localTime.toLocaleString());
          }
        </script>
      </li>
      <li>Rank: @Model.SeasonPassInfo.Rank</li>
      <li>Ranks per Week for +20 Power: @Model.SeasonPassInfo.RanksPerWeek</li>
    </ul>
  </div>
</div>