@model CharacterViewModel
@using Humanizer
@using System.Linq

@{
    ViewData["Title"] = "Character Gear";
}

<p>
  <a asp-route="AccountDetails" asp-route-type="@((int)Model.Type)" asp-route-id="@Model.AccountId">&lt;&lt; Characters</a>
</p>

<picture class="float-right">
  <source media="(min-width: 992px)" srcset="@Model.EmblemBackgroundPath">
  <img src="@Model.EmblemPath" class="d-none d-md-block">
</picture>
<h1>Max Power: @(Model.MaxPowerHuman)</h1>
<ul>
  <li>Base Power: @Model.BasePowerHuman</li>
  <li>Seasonal Artifact Power: @Model.BonusPower</li>
</ul>

<h1>Engram Power Levels</h1>
<ul>
    @foreach(var engram in Model.Engrams)
    {
        <li>@engram.Description</li>
    }
</ul>

<div class="container">
  @{
    var lowestItems = Model.LowestItems;
    var recommendations = Model.Recommendations;
  }

  @if(Model.Recommendations.Any())
  {
    <div class="row">
      <h1>Recommendations</h1>
    </div>
    <div class="row">
      <ol>
        @foreach(var recommendation in recommendations)
        {
          <li>@recommendation</li>
        }
      </ol>
    </div>
  }

  @if(lowestItems.Any())
  {
    <div class="row">
      <h1>@("Lowest Item".ToQuantity(lowestItems.Count(), ShowQuantityAs.None))</h1>
    </div>
    <div class="row">
      @foreach(var item in lowestItems)
      {
        <div class="col-auto">
          @await Html.PartialAsync("ItemPartial", item)
        </div>
      }
    </div>
  }

  <div class="row">
    <h1>Highest Power Items</h1>
  </div>
  <div class="row">
    @foreach(var item in Model.Items)
    {
      <div class="col-md-4">
        @await Html.PartialAsync("ItemPartial", item)
      </div>
    }
  </div>
</div>
