@model CharacterViewModel

@{
    ViewData["Title"] = "Character Gear";
}

<div class="container">
  <div class="row">
    <p>Max Power: @Model.MaxPower</p>
  </div>
  <div class="row mb-2">
    <div class="col-sm">
      @await Html.PartialAsync("ItemPartial", @Model.KineticWeapon)
    </div>
    <div class="col-sm">
      @await Html.PartialAsync("ItemPartial", @Model.Helmet)
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-sm">
      @await Html.PartialAsync("ItemPartial", @Model.EnergyWeapon)
    </div>
    <div class="col-sm">
      @await Html.PartialAsync("ItemPartial", @Model.Gauntlet)
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-sm">
      @await Html.PartialAsync("ItemPartial", @Model.PowerWeapon)
    </div>
    <div class="col-sm">
      @await Html.PartialAsync("ItemPartial", @Model.ChestArmor)
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      @await Html.PartialAsync("ItemPartial", @Model.LegArmor)
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      @await Html.PartialAsync("ItemPartial", @Model.ClassArmor)
    </div>
  </div>
</div>