@model CharacterViewModel
@using Humanizer
@using System.Linq

@{
    ViewData["Title"] = "Character Gear";
}

<p>
  <a asp-route="AccountDetails" asp-route-type="@((int)Model.Type)" asp-route-id="@Model.AccountId">&lt;&lt; Characters</a>
</p>

<picture class="float-right">
  <source media="(min-width: 992px)" srcset="@Model.EmblemBackgroundPath">
  <img src="@Model.EmblemPath" class="d-none d-md-block">
</picture>
<h1>Max Power: @Model.MaxPower</h1>

<div class="container">
  <div class="row">
    <h1>@("Lowest Item".ToQuantity(Model.LowestItems.Count(), ShowQuantityAs.None))</h1>
  </div>
  <div class="row">
    @foreach(var item in Model.LowestItems)
    {
      <div class="col-auto">
        @await Html.PartialAsync("ItemPartial", item)
      </div>
    }
  </div>
  <div class="row">
    <h1>Highest Power Items</h1>
  </div>
  <div class="row">
    @foreach(var item in Model.Items)
    {
      <div class="col-md-4">
        @await Html.PartialAsync("ItemPartial", item)
      </div>
    }
  </div>
</div>
